@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Archangelsk";
  src: local("Archangelsk"), url("./fonts/Archangelsk.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
:root {
  --primary-text-color: #000;
  --secondary-text-color: #777;
  --text-blue: #52bedc;
  --text-white: #fff;
  --text-yellow: #f8f200;
  --bg-yellow: #f8f200;
  --bg-black: #000;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .container {
    padding: 0 12px;
  }
}

.header {
  height: 100vh;
  background-image: url(image/header_bg-desctop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 70px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 980px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 980px) {
  .header__logo img {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media (max-width: 980px) {
  .header__list {
    gap: 30px;
  }
}
@media (max-width: 980px) {
  .header-link img {
    width: 25px;
    height: 25px;
  }
}

.sq {
  background-image: url(image/icons/sq-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 480px;
  width: 100%;
  padding: 70px;
  position: absolute;
  bottom: -2px;
  right: 5%;
}
@media (max-width: 720px) {
  .sq {
    padding: 35px 0;
    max-width: 360px;
    right: 0;
    bottom: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
  }
}
@media (max-width: 360px) {
  .sq {
    padding: 35px 0;
    max-width: 348px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
  }
}
.sq__title {
  font-weight: 400;
  font-size: 62px;
  color: var(--primary-text-color);
  font-family: "Archangelsk";
  margin-bottom: 25px;
  margin-top: 0;
}
@media (max-width: 720px) {
  .sq__title {
    font-size: 30px;
  }
}
.sq__btn {
  border: none;
  background-color: var(--bg-black);
  padding: 20px 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: var(--bg-yellow);
}
@media (max-width: 720px) {
  .sq__btn {
    font-size: 20px;
    padding: 10px 50px;
  }
}

.about_img-small {
  display: flex;
  flex-direction: column;
  width: 460px;
  gap: 42px;
  padding-right: 32px;
}
.about__images {
  display: flex;
  margin-bottom: 70px;
}
@media (max-width: 720px) {
  .about__images {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    align-items: center;
  }
}
@media (max-width: 360px) {
  .about__img-3 {
    margin-bottom: 70px;
    width: 720px;
    background-image: url(image/about-small-3.jpg);
  }
}

.about h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 62px;
  color: var(--primary-text-color);
  margin-top: 70px;
}
@media (max-width: 720px) {
  .about h2 {
    font-size: 30px;
    color: var(--primary-text-color);
  }
}

.about span {
  font-family: "Archangelsk";
  font-weight: 700;
  font-size: 18px;
  line-height: 189%;
  color: var(--text-blue);
}
@media (max-width: 720px) {
  .about span {
    font-size: 16px;
    color: var(--text-blue);
  }
}

.about p {
  font-weight: 400;
  color: var(--secondary-text-color);
  max-width: 950px;
  margin-bottom: 70px;
}
@media (max-width: 720px) {
  .about p {
    font-weight: 400;
    color: var(--secondary-text-color);
  }
}

.form {
  padding: 20px 0 70px 0;
  min-height: 100vh;
  background-color: var(--primary-text-color);
  position: relative;
}
.form::before {
  content: "";
  display: block;
  position: absolute;
  top: -70px;
  min-height: 70px;
  width: 100%;
  background-image: url(image/form-top.png);
}
.form::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -70px;
  min-height: 70px;
  width: 100%;
  background-image: url(image/form-bottom.png);
}
.form__head {
  margin-bottom: 25px;
  max-width: 70%;
}
@media (max-width: 1080px) {
  .form__head {
    width: 50%;
  }
}
@media (max-width: 980px) {
  .form__head {
    width: 100%;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-top: 250px;
  }
}
.form__head span {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1080px) {
  .form__head span img {
    position: absolute;
    left: 0;
    top: 0;
    width: 62px;
    height: 62px;
  }
}
@media (max-width: 1080px) {
  .form__head span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.form__head h3 {
  font-family: "Archangelsk";
  font-weight: 400;
  font-size: 62px;
  color: var(--text-white);
}
.form p {
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: var(--text-white);
}
.form b {
  font-weight: 700;
  color: var(--text-blue);
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-images {
  display: flex;
  align-items: center;
}
@media (max-width: 1380px) {
  .form-images {
    flex-direction: column;
    gap: 50px;
    position: absolute;
    right: 0;
    top: 10%;
    max-width: 450px;
    width: 100%;
  }
}
@media (max-width: 980px) {
  .form-images {
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    width: 100%;
  }
}
.form-images img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 450px;
  height: 450px;
}
@media (max-width: 1380px) {
  .form-images img {
    max-width: 300px;
    height: auto;
    width: 100%;
  }
}
@media (max-width: 980px) {
  .form-images img {
    max-width: 150px;
  }
}
.form-images img:nth-of-type(1) {
  margin-right: -100px;
  z-index: 1;
}
@media (max-width: 1080px) {
  .form-images img:nth-of-type(1) {
    margin-right: 0;
  }
}

form {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 35px;
}
@media (max-width: 1080px) {
  form {
    width: 50%;
  }
}
@media (max-width: 980px) {
  form {
    width: 100%;
    max-width: 100%;
  }
}
form input {
  background-color: inherit;
  padding: 0 13px;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  width: 100%;
  border: none;
  outline: none;
}
form::-moz-placeholder {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}
form::placeholder {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

label:nth-of-type(1) {
  width: 100%;
  border-bottom: 1px solid var(--secondary-text-color);
}

label:nth-of-type(2) {
  width: 100%;
  border-bottom: 1px solid var(--secondary-text-color);
}

.file {
  cursor: pointer;
  border: 1px dashed #777;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.file + input {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.file span {
  font-weight: 300;
  font-size: 18px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
}
.file b {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}

.form button {
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  padding: 20px 50px;
  background-color: var(--bg-yellow);
  cursor: pointer;
}

.checkbox {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
}
.checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 14px;
  height: 14px;
  border-bottom: 1px solid var(--secondary-text-color);
}
.checkbox::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(image/icons/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: -9%;
  width: 10px;
  height: 10px;
}

.input-check {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
}

input:checked + .checkbox::after {
  content: "";
}

.hp {
  min-height: 100vh;
  background-color: var(--bg-yellow);
  padding: 100px 0 70px 0;
}
.hp .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.hp-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.hp-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.right-part h3 {
  font-weight: 400;
  font-size: 62px;
  color: var(--bg-black);
  font-family: "Archangelsk";
}
.right-part p {
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: var(--bg-black);
}
.right-part div {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.right-part button {
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--text-yellow);
  padding: 20px 50px;
  background-color: var(--bg-black);
  cursor: pointer;
  margin-top: 25px;
}/*# sourceMappingURL=style.css.map */